# AML Experiment-6

20BTRCD056-SADDA SAI MOKSHITHA

In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("C:/Users/prane/Downloads/heartDisease.csv")
df.head(5)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [3]:
df.shape

(303, 14)

In [4]:
df.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [5]:
df.nunique(axis=0)

age          41
sex           2
cp            4
trestbps     49
chol        152
fbs           2
restecg       3
thalach      91
exang         2
oldpeak      40
slope         3
ca            5
thal          4
target        2
dtype: int64

In [6]:
df.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [7]:
df.isna().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [8]:
df.duplicated().sum()

1

In [9]:
df.drop_duplicates(inplace=True)

In [10]:
df['target'].value_counts()

1    164
0    138
Name: target, dtype: int64

In [11]:
X = df.iloc[:, :-1].values
y = df.iloc[:, -1].values

In [12]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X,y,test_size = 0.2, random_state = 42)

In [13]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

# Logistic Regression

In [14]:
from sklearn.metrics import classification_report 
from sklearn.linear_model import LogisticRegression

model1 = LogisticRegression(random_state=42) 
model1.fit(x_train, y_train)

y_pred1 = model1.predict(x_test) 
print(classification_report(y_test, y_pred1))

log = model1.score(x_test, y_test)

              precision    recall  f1-score   support

           0       0.81      0.86      0.83        29
           1       0.87      0.81      0.84        32

    accuracy                           0.84        61
   macro avg       0.84      0.84      0.84        61
weighted avg       0.84      0.84      0.84        61

In [15]:
tp = sum([1 for i in range(len(y_test)) if y_test[i] == 1 and y_pred1[i] == 1])
fp = sum([1 for i in range(len(y_test)) if y_test[i] == 0 and y_pred1[i] == 1])
fn = sum([1 for i in range(len(y_test)) if y_test[i] == 1 and y_pred1[i] == 0])

precision1 = tp / (tp + fp)
recall1 = tp / (tp + fn)
f1_score1 = 2 * (precision1 * recall1) / (precision1 + recall1)

# Print the results
print("Precision:", precision1)
print("Recall:", recall1)
print("F1 Score:", f1_score1)

Precision: 0.8666666666666667
Recall: 0.8125
F1 Score: 0.8387096774193549

# K-NN (K-Nearest Neighbours)

In [16]:
from sklearn.metrics import classification_report 
from sklearn.neighbors import KNeighborsClassifier

model2 = KNeighborsClassifier() 
model2.fit(x_train, y_train)  

y_pred2 = model2.predict(x_test) 
print(classification_report(y_test, y_pred2)) 

knn = model2.score(x_test, y_test)

              precision    recall  f1-score   support

           0       0.88      0.97      0.92        29
           1       0.97      0.88      0.92        32

    accuracy                           0.92        61
   macro avg       0.92      0.92      0.92        61
weighted avg       0.92      0.92      0.92        61

C:\Users\prane\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)
C:\Users\prane\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

In [17]:
tp = sum([1 for i in range(len(y_test)) if y_test[i] == 1 and y_pred2[i] == 1])
fp = sum([1 for i in range(len(y_test)) if y_test[i] == 0 and y_pred2[i] == 1])
fn = sum([1 for i in range(len(y_test)) if y_test[i] == 1 and y_pred2[i] == 0])

precision2 = tp / (tp + fp)
recall2 = tp / (tp + fn)
f1_score2 = 2 * (precision2 * recall2) / (precision2 + recall2)

# Print the results
print("Precision:", precision2)
print("Recall:", recall2)
print("F1 Score:", f1_score2)

Precision: 0.9655172413793104
Recall: 0.875
F1 Score: 0.9180327868852458

# SVM (Support Vector Machine)

In [20]:
from sklearn.metrics import classification_report 
from sklearn.svm import SVC

model3 = SVC(random_state=42) 
model3.fit(x_train, y_train) 

y_pred3 = model3.predict(x_test)
print(classification_report(y_test, y_pred3))

svm = model3.score(x_test, y_test)

              precision    recall  f1-score   support

           0       0.82      0.93      0.87        29
           1       0.93      0.81      0.87        32

    accuracy                           0.87        61
   macro avg       0.87      0.87      0.87        61
weighted avg       0.88      0.87      0.87        61

In [19]:
tp = sum([1 for i in range(len(y_test)) if y_test[i] == 1 and y_pred3[i] == 1])
fp = sum([1 for i in range(len(y_test)) if y_test[i] == 0 and y_pred3[i] == 1])
fn = sum([1 for i in range(len(y_test)) if y_test[i] == 1 and y_pred3[i] == 0])

precision3 = tp / (tp + fp)
recall3 = tp / (tp + fn)
f1_score3 = 2 * (precision3 * recall3) / (precision3 + recall3)

# Print the results
print("Precision:", precision3)
print("Recall:", recall3)
print("F1 Score:", f1_score3)

Precision: 0.9285714285714286
Recall: 0.8125
F1 Score: 0.8666666666666666

# Naive Bayes Classisfier

In [21]:
from sklearn.metrics import classification_report 
from sklearn.naive_bayes import GaussianNB

model4 = GaussianNB() 
model4.fit(x_train, y_train) 

y_pred4 = model4.predict(x_test) 
print(classification_report(y_test, y_pred4)) 

nb = model4.score(x_test, y_test)

              precision    recall  f1-score   support

           0       0.84      0.93      0.89        29
           1       0.93      0.84      0.89        32

    accuracy                           0.89        61
   macro avg       0.89      0.89      0.89        61
weighted avg       0.89      0.89      0.89        61

In [22]:
tp = sum([1 for i in range(len(y_test)) if y_test[i] == 1 and y_pred4[i] == 1])
fp = sum([1 for i in range(len(y_test)) if y_test[i] == 0 and y_pred4[i] == 1])
fn = sum([1 for i in range(len(y_test)) if y_test[i] == 1 and y_pred4[i] == 0])

precision4 = tp / (tp + fp)
recall4 = tp / (tp + fn)
f1_score4 = 2 * (precision4 * recall4) / (precision4 + recall4)

# Print the results
print("Precision:", precision4)
print("Recall:", recall4)
print("F1 Score:", f1_score4)

Precision: 0.9310344827586207
Recall: 0.84375
F1 Score: 0.8852459016393444

# Decision Trees

In [23]:
from sklearn.metrics import classification_report 
from sklearn.tree import DecisionTreeClassifier

model5 = DecisionTreeClassifier(random_state=42) 
model5.fit(x_train, y_train) 

y_pred5 = model5.predict(x_test)
print(classification_report(y_test, y_pred5)) 

dt = model5.score(x_test, y_test)

              precision    recall  f1-score   support

           0       0.71      0.86      0.78        29
           1       0.85      0.69      0.76        32

    accuracy                           0.77        61
   macro avg       0.78      0.77      0.77        61
weighted avg       0.78      0.77      0.77        61

In [24]:
tp = sum([1 for i in range(len(y_test)) if y_test[i] == 1 and y_pred5[i] == 1])
fp = sum([1 for i in range(len(y_test)) if y_test[i] == 0 and y_pred5[i] == 1])
fn = sum([1 for i in range(len(y_test)) if y_test[i] == 1 and y_pred5[i] == 0])

precision5 = tp / (tp + fp)
recall5 = tp / (tp + fn)
f1_score5 = 2 * (precision5 * recall5) / (precision5 + recall5)

# Print the results
print("Precision:", precision5)
print("Recall:", recall5)
print("F1 Score:", f1_score5)

Precision: 0.8461538461538461
Recall: 0.6875
F1 Score: 0.7586206896551724

# Random Forest

In [25]:
from sklearn.metrics import classification_report 
from sklearn.ensemble import RandomForestClassifier

model6 = RandomForestClassifier(random_state=42)
model6.fit(x_train, y_train)

y_pred6 = model6.predict(x_test) 
print(classification_report(y_test, y_pred6)) 

rf = model6.score(x_test, y_test)

              precision    recall  f1-score   support

           0       0.84      0.90      0.87        29
           1       0.90      0.84      0.87        32

    accuracy                           0.87        61
   macro avg       0.87      0.87      0.87        61
weighted avg       0.87      0.87      0.87        61

In [26]:
tp = sum([1 for i in range(len(y_test)) if y_test[i] == 1 and y_pred6[i] == 1])
fp = sum([1 for i in range(len(y_test)) if y_test[i] == 0 and y_pred6[i] == 1])
fn = sum([1 for i in range(len(y_test)) if y_test[i] == 1 and y_pred6[i] == 0])

precision6 = tp / (tp + fp)
recall6 = tp / (tp + fn)
f1_score6 = 2 * (precision6 * recall6) / (precision6 + recall6)

# Print the results
print("Precision:", precision6)
print("Recall:", recall6)
print("F1 Score:", f1_score6)

Precision: 0.9
Recall: 0.84375
F1 Score: 0.870967741935484

# XGBoost

In [27]:
from xgboost import XGBClassifier

model7 = XGBClassifier(random_state=42)
model7.fit(x_train, y_train)

y_pred7 = model7.predict(x_test)
print(classification_report(y_test, y_pred7))

xgb = model7.score(x_test, y_test)

              precision    recall  f1-score   support

           0       0.81      0.90      0.85        29
           1       0.90      0.81      0.85        32

    accuracy                           0.85        61
   macro avg       0.85      0.85      0.85        61
weighted avg       0.86      0.85      0.85        61

In [28]:
tp = sum([1 for i in range(len(y_test)) if y_test[i] == 1 and y_pred7[i] == 1])
fp = sum([1 for i in range(len(y_test)) if y_test[i] == 0 and y_pred7[i] == 1])
fn = sum([1 for i in range(len(y_test)) if y_test[i] == 1 and y_pred7[i] == 0])

precision7 = tp / (tp + fp)
recall7 = tp / (tp + fn)
f1_score7 = 2 * (precision7 * recall7) / (precision7 + recall7)

# Print the results
print("Precision:", precision7)
print("Recall:", recall7)
print("F1 Score:", f1_score7)

Precision: 0.896551724137931
Recall: 0.8125
F1 Score: 0.8524590163934426

In [29]:
model = pd.DataFrame({'Model': ['Logistic Regression', 'KNN','SVM','Naive bayes Classifier','Decision Tree', 'Random Forest', 'XGB Regressor'], 'Score': [log, knn, svm, nb, dt, rf, xgb],'Model No.':[1,2,3,4,5,6,7],
                     'Precision':[precision1, precision2, precision3, precision4, precision5, precision6, precision7],
                     'Recall': [recall1, recall2, recall3, recall4, recall5, recall6, recall7],
                     'F1-Score': [f1_score1, f1_score2, f1_score3, f1_score4, f1_score5, f1_score6, f1_score7]})
models = model.sort_values(by = 'Score', ascending = False)
models = models.set_index('Model No.')
models

                            Model     Score  Precision   Recall  F1-Score
Model No.
2                             KNN  0.918033   0.965517  0.87500  0.918033
4          Naive bayes Classifier  0.885246   0.931034  0.84375  0.885246
3                             SVM  0.868852   0.928571  0.81250  0.866667
6                   Random Forest  0.868852   0.900000  0.84375  0.870968
7                   XGB Regressor  0.852459   0.896552  0.81250  0.852459
1             Logistic Regression  0.836066   0.866667  0.81250  0.838710
5                   Decision Tree  0.770492   0.846154  0.68750  0.758621